mixin about()
  section.about
    .container
      h2.title.about--title О мероприятии
      p.title--subtitle Узнайте подробности предстоящий конференции и будте в курсе, когда выступают ваши любимые спикеры. 
      .about__wrap
        h2.about__wrap--title Alpha World Dubai 2018
        .about__wrap--row
          img(src="img/about/.png")
          p Технология SWOT анализа широко используется в стратегическом управлении и менеджменте, так как является одновременно простым и качественным инструментом для оценки конкурентоспособности компании на рынке.
          p Особенностью метода является то, что начиная с 1980-х годов SWOT анализ активно применяется 
            | для разработки стратегических решений и не утратил своей актуальности за все время существования в инструментарии менеджеров.
        .about__wrap--row
          p  рынке и правильное структурирование информации для разработки маркетинговой стратегии предприятия. Расшифровка SWOT: S= Strengths, сильные стороны товара; W=Weaknesses, слабые стороны товара; 
          p O=Opportunities, возможности компании; T=Threats, угрозы компании.
            | Более подробно с теоретическими основами SWOT анализа продукта вы можете ознакомиться в статье: 
            | «Основы ситуационного анализа SWOT».
          img(src="img/about/.png")
      a(href="#").btn.btn-pirple Купить билет  
