$gray-dark:                   hsl(0, 0%, 20%);
$gray:                        hsl(0, 0%, 50%);
$gray-light:                  hsl(0, 0%, 80%);
$perp:                        #5d337e;
$text-color:                  $gray-dark;

$font-family:                 'Geometria', sans-serif;
$font-size:                   14px;
$line-height:                 1.4;





$gr:                           'Geometria', sans-serif;
$gb:                           'GeometriaBold', sans-serif;

.container {
  @include container();
}

@mixin flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row wrap;
}
